body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.navbar-text {
  font-size: 20px;
  font-weight: bold;
}
